body {
    text-align: center;
}
#wrapper {
    text-align: left;
    width:84%;
    margin-left: auto;
    margin-right: auto;

}

#options{
    background-color: #fff;
    width: 256px;
    height:580px;
    box-shadow:3px 3px 6px #535353;
    float:left;
}
.finalizeButton{
    color:#007bff !important;
    
    font-size: 20px !important;
    font-weight: bolder !important;
}

.objectText{
    margin-top: 62px;
}
#options .drag {
    margin-left:46px;
    margin-top:14px;
}
.optionHeader{
    width: 256px;
    background-color: rgb(57, 167, 255) !important;
}
.optionHeader h4{
    font-weight:bold;
    color: #fff;
    font-size: 19px;
}
#frame{
    width:745px;
    height:550px;
    background-image: url("../../images/rular_bg.png");
    background-repeat:no repeat;
    background-position: 0 0;
    box-shadow: 3px 3px 6px #535353;
    margin-left: 268px;
}
.frameHeader{
        box-shadow: 3px 3px 6px #535353;
    width:745px;
    margin-left: 268px;
    background-color: rgb(57, 167, 255) !important;
    
}

.frameHeader h4{
    font-weight:bold;
    color: #fff;
    font-size: 19px;
}
#tbldevs{
    border:1px solid black;
    width:80%;
    margin-left:50px;
    margin-top:10px;
}

#tbldevs th{
    text-align:center;
    height:50px;
    width:50px;
}

#tbldevs td{
    height:50px;
}
#options .dragCommon{
    background-size: contain;
    width:60px;
    height:60px;

    background-repeat: no-repeat;
    float:left;

}

#drag1 {

    background-image: url("../../images/icon_g_plus.png");

}

#drag2 {

    background-image: url("../../images/icon_fb.png");

}

#drag3 {

    background-image: url("../../images/sound.png");

}

#drag4 {

    background-image: url("../../images/icon_video.png");

}

#drag5 {

    background-image: url("../../images/icon_link.png");

}

#drag6 {

    background-image: url("../../images/e_mail.png");

}

#drag7 {

    background-image: url("../../images/web_link.png");

}
#drag8 {

    background-image: url("../../images/calender.png");

}
#drag9 {

    background-image: url("../../images/contact.png");

}
#drag10 {

    background-image: url("../../images/youtube.png");

}
#drag11 {

    background-image: url("../../images/cam.png");

}
#drag12 {

    background-image: url("../../images/screenshot.png");

}
#drag13 {

    background-image: url("../../images/tapaudio.png");

}
#drag14 {

    background-image: url("../../images/tapvideo.png");

}


.ui-draggable-helperMoving {
    border: 1px dotted #000;
    padding: 6px;
    background: #fff;
    font-size: 1.2em;
    width:100px;
    height:100px;
}

.ui-draggable-helperStoped {
    border: 1px solid #000;
    width:5px;
    height:5px;
}



/* classes for dragged stuff */

.dragged1 {
    position:absolute; 
    background-image: url("../../images/icon_g_plus.png");

}

.dragged2 {
    position:absolute; 
    background-image: url("../../images/icon_fb.png");

}

.dragged3 {
    position:absolute; 
    background-image: url("../../images/sound.png");

}

.dragged4 {
    position:absolute; 
    background-image: url("../../images/icon_video.png");

}

.dragged5 {
    position:absolute; 
    background-image: url("../../images/icon_link.png");

}

.dragged6 {
    position:absolute; 
    background-image: url("../../images/e_mail.png");

}
.dragged7 {
    position:absolute; 
    background-image: url("../../images/web_link.png");

}
.dragged8 {
    position:absolute; 
    background-image: url("../../images/calender.png");

}
.dragged9 {
    position:absolute; 
    background-image: url("../../images/contact.png");

}
.dragged10 {
    position:absolute; 
    background-image: url("../../images/youtube.png");

}
.dragged11 {
    position:absolute; 
    background-image: url("../../images/cam.png");

}
.dragged12 {
    position:absolute; 
    background-image: url("../../images/screenshot.png");

}
.dragged13{
    position:absolute; 
    background-image: url("../../images/tapaudio.png");

}
.dragged14 {
    position:absolute; 
    background-image: url("../../images/tapvideo.png");

}


#element{
    border:1px solid red
}

.trackerButton{
    float:right
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('http://i.stack.imgur.com/FhHRx.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}






#frame .dragCommon {

    box-shadow: 3px 3px 6px #535353;

    border-radius: 4px;
    background-size: cover;
    width:70px;
    height:70px;

    background-repeat: no-repeat;

} 



#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    cursor: pointer;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}